<html>
	<head>
		<link href="/assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Person: <%= PERSON_NAME %></h1>
		<h2>Query string: <%= QUERY_STRING %></h2>
	</body>
</html>